:root                 { --fg: #ff0050; --bg: #400014; }
:root[data-theme="1"] { --fg: #ff7000; --bg: #401c00; }
:root[data-theme="2"] { --fg: #ffe000; --bg: #403800; }
:root[data-theme="3"] { --fg: #00ff50; --bg: #004014; }
:root[data-theme="4"] { --fg: #2080ff; --bg: #082040; }
:root[data-theme="5"] { --fg: #c000ff; --bg: #300040; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
  overflow: hidden;
  min-width: min-content;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

strong {
  padding: 0 0.25rem;
  background-color: white;
  color: black;
}

svg {
  display: block;
  flex-shrink: 0;
}

#logo {
  position: relative;
  box-sizing: content-box;
  width: 22rem;
  background-color: var(--fg);
  transition: 0.5s background-color;
  padding: 0.5rem;
  cursor: pointer;
}

#logo:hover {
  outline: 0.25rem solid white;
  outline-offset: -0.75rem;
}

#logo svg {
  background-color: #000000c0;
}

.title {
  height: 5rem;
}

.infinite {
  color: var(--fg);
  transition: 0.5s color;
}

#motto {
  position: relative;
  border: 0.125rem solid white;
  padding: 0.125rem 0.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

main {
  padding: 1rem;
  max-width: 40rem;
}

main > * + * {
  margin-top: 1rem;
}

@media (width < 67rem) {
  .wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }

  .decoration {
    transform: matrix(0, 1, 1, 0, 0, 0);
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    height: 3.75rem;
  }

  main {
    text-align: center;
  }
}

@media (width < 32rem) {
  .title { height: 2.5rem; }
  #logo { width: 11rem; }
}
